---
import { Icon } from "astro-icon";
import Signup from "@components/signup.astro";
---

<footer class="pt-10">
  <div
    class="text-gray4 prose mx-auto justify-between py-2 text-sm md:flex md:items-center"
  >
    <div class="flex items-center justify-center text-center">
      <a href="mailto:hello@chengxiaoxing.me" class="mr-2"
        >hello@chengxiaoxing.me</a
      >
      <a
        href="https://www.youtube.com/channel/UCqiTHfykjGl4_9fkStHU0Og"
        class="mr-2 inline-block w-6"
      >
        <Icon aria-label="youtube" name="tabler:brand-youtube" />
      </a>
      <a
        href="https://space.bilibili.com/1974561"
        class="mr-2 inline-block w-6"
      >
        <Icon aria-label="bilibili" name="bilibili" />
      </a>
    </div>
    <div class="flex items-center justify-center text-center">
      <Signup />
    </div>
  </div>
  <div class="pb-5 text-center">
    All rights reserved by Cheng, Xiaoxing &copy; 2023
  </div>
</footer>
