---
import ProjectsLayout from "../layouts/ProjectsLayout.astro";
import publications from "../content/publications.json";
import Authors from "../components/Authors.astro";
import AuthorDisclaimer from "../components/AuthorDisclaimer.astro";
import ProjectItem from "../components/ProjectItem.astro";
import projects from "../content/projects.json";
---

<ProjectsLayout title="">
  <h2>软件项目</h2>
  <ol>
    {
      Object.values(projects.softwares).map((software, index) => (
        <ProjectItem project={software} />
      ))
    }
  </ol>
  <h2>可视化项目</h2>
  <ol>
    {
      Object.values(projects.visualizations).map((visualization, index) => (
        <ProjectItem project={visualization} />
      ))
    }
  </ol>
</ProjectsLayout>
