---
import PageLayout from "@layouts/PageLayout.astro";
import ProjectItem from "@components/projects/ProjectItem.astro";
import projects from "@content/projects.json";
---

<PageLayout title="">
  <h2>软件项目</h2>
  <ol>
    {
      Object.values(projects.softwares).map((software, index) => (
        <ProjectItem project={software} />
      ))
    }
  </ol>
  <h2>可视化项目</h2>
  <ol>
    {
      Object.values(projects.visualizations).map((visualization, index) => (
        <ProjectItem project={visualization} />
      ))
    }
  </ol>
</PageLayout>
