---
import BlogList from "@components/blogs/BlogList.astro";
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
export const prerender = true;

export async function getStaticPaths() {
  const allPosts = await Astro.glob("../../../content/blogs/*.md");
  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.frontmatter.tags).flat()),
  ];
  var posts: { [index: string]: any } = {};
  for (var i = 0; i < uniqueTags.length; i++) {
    var tag = uniqueTags[i];
    posts[tag] = await getCollection("blogs", ({ data }) => {
      return data.tags.includes(tag);
    });
  }
  return uniqueTags.map((tag) => {
    // const filteredPosts = allPosts.filter((post) => post.frontmatter.tags.includes(tag));
    return {
      params: { tag },
      props: { posts: posts[tag] },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<PageLayout title={`Articles tagged with ${tag}`}>
  <div class="mx-auto">
    <BlogList articles={posts} path="blogs" />
  </div>
</PageLayout>
