<div>
  <form id="subscribe-form">
    <div class="mx-auto flex max-w-sm items-center p-1 pr-0">
      <input
        type="email"
        id="email"
        placeholder="yourmail@example.com"
        class="text-grey-dark mr-2 flex-1 appearance-none rounded p-2 shadow focus:outline-none"
      />
      <button
        type="submit"
        class="rounded-md bg-slate-600 p-2 text-base font-semibold text-white shadow-md hover:bg-indigo-600"
        >Subscribe</button
      >
    </div>
  </form>
</div>

<style></style>
