---
export interface Props {
  folder: string;
  tags: string[];
}

import Icon from "astro-icon";
const { folder, tags } = Astro.props;
---

<div class="tag-list">
  <div class="w-6">
    <Icon name="carbon:tag" />
  </div>
  <ul class="article-tags expanded">
    {
      tags.map((tag) => (
        <li class="tag">
          <a href={`/${folder}/tags/${tag}`}>{tag}</a>
        </li>
      ))
    }
  </ul>
</div>

<style>
  .tag {
    @apply rounded-md bg-slate-100 p-2 !py-0.5  text-sm text-slate-700 transition-all hover:-translate-y-0.5;
  }
  .tag-list {
    @apply flex items-center gap-2 rounded-lg border border-transparent  p-2;
  }
  .tag-list.active {
    @apply border-slate-200;
  }
  .article-tags {
    @apply flex max-w-0 flex-wrap gap-2 overflow-hidden py-2 transition-all;
  }
  .article-tags.expanded {
    @apply max-w-full;
  }
</style>
