---
import ArticleList from "../../../components/ArticleList.astro";
import { getCollection } from "astro:content";
import ProjectsListLayout from "../../../layouts/ProjectsListLayout.astro";

export async function getStaticPaths() {
  const allPosts = await Astro.glob("../../../content/projects/*.md");
  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.frontmatter.tags).flat()),
  ];
  var projects: { [index: string]: any } = {};
  for (var i = 0; i < uniqueTags.length; i++) {
    var tag = uniqueTags[i];
    projects[tag] = await getCollection("projects", ({ data }) => {
      return data.tags.includes(tag);
    });
  }
  return uniqueTags.map((tag) => {
    // const filteredPosts = allPosts.filter((post) => post.frontmatter.tags.includes(tag));
    return {
      params: { tag },
      props: { posts: projects[tag] },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<ProjectsListLayout title={`Posts tagged with ${tag}`}>
  <div class="max-w-prose mx-auto">
    <ArticleList articles={posts} path="projects" />
  </div>
</ProjectsListLayout>
