---
import Authors from "@components/publications/Authors.astro";
import type { BookType } from "env.d.ts";
export type Props = BookType;
const { authors, title, year } = Astro.props;
---

<>
  <span>{title}</span>,
  <span>({year})</span>,
  <Authors authors={authors} />
</>
