---
import Authors from "@components/publications/Authors.astro";
import type { DissertationType } from "env.d.ts";
export type Props = DissertationType;
const { author, title, school, year } = Astro.props;
---

<>
  <Authors authors={author} />.
  <span class="italic">{title}</span>.
  <span>{school}</span>,<span>{year}</span>
</>
