---
export interface Props {
  title: string | undefined;
}
var { title } = Astro.props;
title = typeof title === "undefined" ? "Cheng, Xiaoxing" : title;
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3942359813221164"
      crossorigin="anonymous"
    ></script>
    <title>{title}</title>
  </head>
  <body>
    <wrapper class="wrapper-class">
      <main>
        <Header />
        <slot />
      </main>
      <Footer />
    </wrapper>
  </body>
</html>

<style>
  :root {
    --accent: 124, 58, 237;
    --doc-height: 100%;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
  body {
    width: 100vw;
    margin: auto;
    height: 100vh;
    height: var(--doc-height);
  }
  .wrapper-class {
    @apply flex min-h-full flex-col justify-between;
    background: rgba(255, 255, 255, 0.5);
  }
</style>

<script>
  const documentHeight = () => {
    const doc = document.documentElement;
    doc.style.setProperty("--doc-height", `${window.innerHeight}px`);
  };
  window.addEventListener("resize", documentHeight);
  documentHeight();
</script>
