---
import BaseLayout from "@layouts/BaseLayout.astro";
import Tags from "@components/blogs/Tags.astro";
import type { CollectionEntry } from "astro:content";

type Props = CollectionEntry<"blogs">["data"];
const { title, headings, tags, publishDate } = Astro.props;
---

<BaseLayout title={title}>
  <section class="article-section">
    <article class="article prose">
      <h1>{title}</h1>
      <Tags folder="blogs" tags={tags} />
      <slot />
    </article>
    <aside class="aside">
      <nav class="toc">
        <ul class="toc-links">
          {
            Object.values(headings).map((head, index) => (
              <li class={"toc-link toc-link-" + head.depth}>
                <a href={"#" + head.slug}>{head.text}</a>
              </li>
            ))
          }
        </ul>
      </nav>
    </aside>
  </section>
</BaseLayout>

<style scoped>
  .article-section {
    @apply grid grid-cols-12;
  }
  .aside {
    @apply col-span-full row-start-1 w-full pt-14 md:col-span-3;
  }
  .aside .toc {
    @apply sticky top-24;
  }
  .article {
    @apply col-span-full mx-auto w-full max-w-3xl p-4 md:col-span-8 md:col-start-4 md:row-start-1;
  }
  .toc {
    @apply rounded-lg border border-slate-200 bg-slate-50 p-2;
    @apply text-xs;
    @apply max-h-[calc(100vh-6rem)] overflow-auto;
  }
  .toc-links {
    @apply flex flex-col gap-2 px-2;
  }
  .toc-link {
    @apply text-slate-500 hover:text-slate-900;
  }
  .toc-link-1 {
    @apply pl-0 text-base;
  }
  .toc-link-2 {
    @apply pl-0 text-sm;
  }
  .toc-link-3 {
    @apply pl-2 text-xs;
  }
</style>
